@import "@/styles/_variables";

.Task__Task {
  display: grid;
  grid-template-columns: 2rem auto 2rem 2.2rem 1.6rem;
  align-items: center;
  border-bottom: 1px solid $taskBorder;
}

.Task__TaskName {
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Task__TaskDescription {
  position: relative;
  color: $light_grey;
}

.Task__TaskDescription[data-description]:hover:after {
  content: attr(data-description);
  position: absolute;
  top: 100%;
  background-color: $main_light;
  border: 1px solid $main_dark;
  border-radius: 0.3rem;
  padding: 0.3rem;
  z-index: 1;
  color: $main_dark;
}

.Task__Crossed {
  text-decoration: line-through;
  font-weight: normal;
}

.Task__Postpone {
  cursor: pointer;
  color: $light_grey;
}
