@import '../../../colors';

.Task {
  display: grid;
  grid-template-columns: 34px auto 24px;
  align-items: center;
  border-bottom: 1px solid lighten($light_grey, 20%);
}

.TaskName {
  cursor: pointer;
}

.Crossed {
  text-decoration: line-through;
}

.Length {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $light_grey;
  color: $main_dark;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
}