@import '../../../colors';

.Task {
  display: grid;
  grid-template-columns: 40px auto 40px;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid lighten($light_grey, 20%);
}

.Crossed {
  text-decoration: line-through;
}

.Length {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $light_grey;
  color: $main_dark;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}