@import "_variables";

.TaskLength__Length {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  border: 2px solid $light_grey;
  color: $main_dark;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}
