@import '../../../colors';

.Loader__Loader {
  width: 1.3rem;
  height: 1.3rem;
  margin: auto;
  border: 3px solid $main_dark;
  border-radius: 1.3rem;
  border-right-color: $main_light;
  animation: loader-spin infinite 1s linear;
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}