.Loader {
  width: 18px;
  height: 18px;
  margin: auto;
  border: 3px solid #000;
  border-radius: 18px;
  border-right-color: #fff;
  animation: loader-spin infinite 1s linear;
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}