@import "_variables";

.TextInput {
  padding: 5px;
  border: 2px solid $light_grey;
  border-radius: 10px;
  outline: none;
  font-family: $font_family;
}

.TextInput:focus {
  border: 2px solid $main_dark;
}