@import "_variables";

.ToPlan__ToPlan {
  position: absolute;
  bottom: 0;
  height: 30px;
}

.ToPlan__ToPlanOpen {
  position: absolute;
  bottom: 0;
  height: 200px;
  background-color: aquamarine;
}

.ToPlan__Title {
  position: relative;
  height: 30px;
  left: 10px;
  display: flex;
  align-items: center;
  background: $main_dark;
  color: $main_light;
  padding: 0 20px;
  border-radius: 5px 5px 0 0;
  position: relative;
}