@import "_variables";

.ToPlan__ToPlan {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  transition: height 0.5s;
}

.ToPlan__ToPlanOpen {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20rem;
  transition: height 0.5s;
}

.ToPlan__Title {
  position: relative;
  height: 2rem;
  width: fit-content;
  left: 2rem;
  display: flex;
  align-items: center;
  background: $main_dark;
  color: $main_light;
  padding: 0 1rem;
  border-radius: 0.3rem 0.3rem 0 0;
  cursor: pointer;
}

.ToPlan__Content {
  border-top: 2px solid $main_dark;
  background-color: $main_light;
  height: inherit;
  overflow: auto; 
  padding: 0.5rem;
}

.ToPlan__ItemContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 0.5rem;
}
