@import "_variables";

.ToPlan__ToPlan {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  transition: height 0.5s;
}

.ToPlan__ToPlanOpen {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20rem;
  transition: height 0.5s;
}

.ToPlan__Title {
  position: relative;
  height: 2rem;
  width: fit-content;
  left: 0.8rem;
  display: flex;
  align-items: center;
  background: $main_dark;
  color: $main_light;
  padding: 0 1rem;
  border-radius: 0.3rem 0.3rem 0 0;
  cursor: pointer;
}

.ToPlan__Content {
  border-top: 2px solid $main_dark;
  background-color: $main_light;
  height: inherit;
}

.ToPlan__ItemContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
}

.ToPlan__Item {
  display: grid;
  align-items: center;
  overflow-wrap: anywhere;
  grid-template-columns: 1fr 1.5rem 1.5rem;
}

.ToPlan__Description {
  position: relative;
  color: $light_grey;
}

.ToPlan__Description[data-description]:hover:after {
  content: attr(data-description);
  position: absolute;
  top: 100%;
  background-color: $main_light;
  border: 1px solid $main_dark;
  border-radius: 0.3rem;
  padding: 0.3rem;
  z-index: 1;
  color: $main_dark;
}
