@import "@/styles/_variables";

.Ideas__Container {
  background: $dayBackground;
  height: fit-content;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 2px 2px 5px $boxShadow;
}

.Ideas__Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-bottom: 2px solid;
  margin-bottom: 1rem;
}