@import '../../../_colors.scss';

.Header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: $main_dark;
  color: $main_light;
}

.Buttons {
  display: flex;
}

.Buttons.Right {
  justify-content: flex-end;
}