@import "@/styles/variables";

.Button__Button {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.3rem;
  padding: 0.4rem 1.3rem;
  margin: 0.4rem;
  cursor: pointer;
  user-select: none;
  min-height: 1.6rem;
  box-shadow: 2px 2px 5px $boxShadow;

  &--primary {
    @extend .Button__Button;
    background-color: $primary;
    color: $main_light;

    &:hover {
      background-color: lighten($primary, 10%);
    }

    &:active {
      background-color: lighten($primary, 15%);
    }
  }

  &--secondary {
    @extend .Button__Button;
    background-color: lighten($light_grey, 25%);
    color: $primary;

    &:hover {
      background-color: lighten($light_grey, 20%);
    }

    &:active {
      background-color: lighten($light_grey, 15%);
    }
  }
}

.Button__Disabled {
  @extend .Button__Button;
  background-color: lighten($light_grey, 25%);
  color: lighten($light_grey, 15%);
  cursor: not-allowed;
}
