.Button {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #810000;
  color: #eeebdd;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 5px;
  cursor: pointer;
  user-select: none;
}

.Button:hover {
  background-color: #ce1212;
}

.Button:active {
  background-color: #a81a1a;
}