@import '../../../colors';

.Button {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  color: $main_light;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 5px;
  cursor: pointer;
  user-select: none;
}

.Button:hover {
  background-color: lighten($primary, 10%);
}

.Button:active {
  background-color: lighten($primary, 15%);
}