@import '../../../colors';

.Button__Button {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  color: $main_light;
  border-radius: 1.3rem;
  padding: 0.4rem 1.3rem;
  margin: 0.4rem;
  cursor: pointer;
  user-select: none;
}

.Button__Button:hover {
  background-color: lighten($primary, 10%);
}

.Button__Button:active {
  background-color: lighten($primary, 15%);
}