.TodoRow__Container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2rem 5rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.TodoRow__Title {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.TodoRow__Stars {
  justify-self: flex-end;
}