.AddTaskModal__Fields {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  row-gap: 0.7rem;
}

.AddTaskModal__Submit {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}