/********* COLORS **********/
$main_dark: #1b1717;
$main_light: #eeebdd;
$white: #fff;

$primary: #810000;

$light_grey: #999;

$boxShadow: #00000040;

$dayBackground: #fffef8;

$taskBorder: #001fff33;

/********* FONT **********/
$font_family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;