.TransparentLayer {
  position: absolute;
  background-color: #00000040;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.Modal {
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}